{% extends 'base.html' %}
{% load staticfiles %}

{% block page-header %}
    <header class="intro-header" style="background-image: url({% static "img/contact-bg.jpg" %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1> Create Blog </h1>
                        <hr class="small">
                        <span class="subheading"> A Clean Blog Theme by Start Bootstrap </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock page-header %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form method="POST" action="" >
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ field }}
                            </div>  
                        </div>
                    {% endfor %}
                    <br />
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}





